<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script src="data-base.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <main id="vueapp">

      <div class="py-4">
        <div class="container">
          <div class="d-flex flex-column">
            <div class="h2" id="h2div">{{aaadata.data3}}</div>
            <div class="h2" id="h2div">{{aaadata.data1}}</div>
            <div class="h2" id="h2div">{{aaadata.data2}}</div>
            <div class="h2" id="h2div">{{aaadata.humaninfo.username}}</div>
            <div class="h2" id="h2div">{{aaadata.humaninfo.age}}</div>
            <hr>
            <div class="h1">{{formobj.username}}</div>
            <div class="h1">{{formobj.userage}}</div>
            <div class="h1">{{formobj.phonenum}}</div>
          </div>
        </div>
      </div>

      <div class="py-4">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="form-group">
                <label for=""></label>
                <input type="text" class="form-control" v-model="formobj.username">
                <small id="helpId" class="form-text text-muted">Help text</small>
              </div>
            </div>
            <div class="col-12 col-md-12">
              <div class="form-group">
                <label for=""></label>
                <input type="text" class="form-control" v-model="formobj.userage">
                <small id="helpId" class="form-text text-muted">Help text</small>
              </div>
            </div>
            <div class="col-12 col-md-12">
              <div class="form-group">
                <label for=""></label>
                <input type="text" class="form-control" v-model="formobj.phonenum">
                <small id="helpId" class="form-text text-muted">Help text</small>
              </div>
            </div>
            <div class="col-12 col-md-12">
              <div class="form-group">
                <label for=""></label>
                <input type="text" class="form-control" v-model="formobj.idnum">
                <small id="helpId" class="form-text text-muted">Help text</small>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <button type="button" class="btn btn-primary" @click="btnclickme()">CLick me</button>
            </div>
            <div class="col-12 col-md-4">
              <button type="button" class="btn btn-primary" @click="btnrmrow()">Remove me</button>
            </div>
          </div>
        </div>
      </div>


      <div class="py-4">
        <div class="container">
          <div class="row">
            <div class="col-md-4 py-4" v-for="(useritem, index) in userlist" :key="index">
              <div class="d-flex flex-column border p-4">
                <div class="d-flex flex-row justify-content-between align-items-center">
                  <div class="h2">{{useritem.username}}</div>
                  <div class="text-center">{{useritem.age}}</div>
                </div>
                <div>{{useritem.addres}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </main>





    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vueapp = new Vue({
        el:'#vueapp',
        data() {
          return {
            aaadata:{},
            formobj:{},
            userlist:[],
          }
        },
        created() {
          this.aaadata = _DATA_BASE;
          this.userlist = _DATA_LIST;
        },
        methods: {
          btnclickme:function(){
            console.table(this.formobj)

            var tempid = Number(this.formobj.idnum)

            this.userlist[tempid].username = this.formobj.username;
            this.userlist[tempid].age      = this.formobj.userage;
            this.userlist[tempid].addres   = this.formobj.phonenum;


// idnum: "0"
// phonenum: "adatku"
// userage: "34"
// username: "湯"
          },
          btnrmrow:function(){
            this.userlist.pop();
          }
        },
      })
    </script>



 
  </body>
</html>